body{
    background-color: rgb(60,60,60);
    padding: 30px;
    text-align: center;
    color: white;
}

input{
    
    padding: 5px;
}
section{
    background-color:white;
    padding: 10px;
    border-radius: 10px;
}